/* This is an example of using Sass, otherwise plain CSS works too*/
@import '_variables';
@import '_mixins.scss';

html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: $main-purple-color;
  height: 10%;
}

h1 {
  display: flex;
  font-size: 3.5em;
  justify-content: center;
  margin: 0;
  padding-top: 0.7%;
}

main {
  height: 90%;
  overflow: scroll;
}

// login page

.login-page {
  background-image: url(https://q-xx.bstatic.com/images/hotel/max1024x768/373/37386056.jpg);
  @include wholePageSetUp();
}

h2 {
  display: flex;
  font-size: 4.3em;
  justify-content: center;
  margin: -3% 0 0;
}

.login-section,
.login-form {
  @include flexColumn();
  justify-content: center;
}

.login-section {
  align-items: center;
  height: 65%;
  margin: 0 0 0 30%;
  width: 40%;
}

.login-form {
  background-color: $white-color;
  border-radius: 2%;
  height: 80%;
  width: 80%;
}

h3 {
  align-self: center;
  font-size: 2em;
  margin: 0 0 2% 0;
}

label {
  @include flexColumn();
  color: $white-color;
  font-size: 0.1em;
  height: 22%;
  margin: 0 0 0 9%;
}

.user-name-input,
.password-input {
  @include userAndPassInputs();
}

.login-button {
  align-self: center;
  background-color: $main-purple-color;
  border-radius: 7px;
  border: solid 2px $main-purple-color;
  cursor: pointer;
  margin: 2%;
  font-size: 1.5em;
  height: 14%;
  width: 81%;
}

.login-button:hover {
  background-color: $accent-purple-color;
  border: solid 2px $accent-purple-color;
}

.username-error,
.password-error {
  color: $alert-color;
  margin: 0;
  padding-left: 20%;
  visibility: hidden;
}

//manager-page

.manager-page {
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1568145675395-66a2eda0c6d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2775&q=80);
  @include wholePageSetUp();
}

.manager-name {
  background-color: $main-blue-color;
  border-radius: 0.2em;
  font-size: 3em;
  margin: 2% 0 2% 0;
  opacity: 0.9;
  padding: 0.5%;
}

.manager-info {
  background-color: $main-blue-color;
  border-radius: 0.2em;
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  margin-bottom: 2%;
  opacity: 0.9;
  padding: 1%;
  width: 45%;
}

.hotel-data {
  @include flexColumn();
}

.select-date-message-manager {
  font-size: 1.3em;
}

.rooms-avail-todays-date,
.percent-rooms-occupied {
  margin: 0;
}

.total-revenue-today {
  margin: 1% 0 1% 0;
}

.find-user {
  @include flexColumn();
  margin-left: 6%;
}

.enter-user-name {
  border: $accent-blue-border;
  border-radius: 8px;
  font-size: 1em;
  margin: 2% 0 4% 0;
  padding-left: 2%;
}

.submit-user-name {
  border: $accent-blue-border;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}

.submit-user-name:hover {
  background-color: $accent-blue-color;
}

.filter-hotel-rooms-dropdown-manager {
  align-self: center;
  display: flex;
  margin: 2% 0 2% 0;
}

.manager-create-booking {
  @include flexColumn();
  align-items: center;
  background-color: $main-blue-color;
  border-radius: 0.8em;
  height: 60%;
  overflow: scroll;
  opacity: 0.9;
  padding: 2%;
  width: 70%;
}

h5 {
  font-size: 2em;
  margin: 0;
}

.available-bookings-holder-manager,
.future-bookings-holder-manager,
.past-bookings-holder-manager {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2% 0 2% 0;
}

.available-room-info-manager,
.future-room-info-manager {
  @include flexColumn();
  font-size: 1.2em;
  justify-content: center;
  margin-left: 29%;
}

.avail-hotel-info-manager {
  width: 93%;
  display: flex;
  flex-direction: row;
  margin: 2%;
}

.available-room-info-manager {
  @include flexColumn();
  font-size: 1.2em;
  justify-content: center;
  margin-left: 1%;
}

// user page (manager uses some of the same elements and css properties)

.user-page {
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1568145675395-66a2eda0c6d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2775&q=80);
  @include wholePageSetUp();
}

h4 {
  background-color: $main-blue-color;
  border-radius: 0.2em;
  font-size: 3em;
  margin: 0 0 4% 0;
  opacity: 0.9;
  padding: 0.5%;
}

.create-booking {
  @include flexColumn();
  background-color: $main-blue-color;
  border-radius: 0.8em;
  height: 60%;
  overflow: scroll;
  opacity: 0.9;
  padding: 2%;
  width: 70%;
}

.total-spent,
.appreciation-message {
  font-size: 1.3em;
  margin: 1%;
}

.date-selector {
  @include flexColumn();
  align-items: center;
}

.select-date-message {
  font-size: 1.3em;
}

.date-input-btn-holder {
  display: flex;
  margin-left: 6%;
}

.date-input,
.submit-date-button {
  border: $accent-blue-border;
}

.date-input {
  border-radius: 5px 0 0 5px;
  font-size: 1.2em;
  height: 8%;
  width: 50%;
}

.submit-date-button {
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1em;
}

.submit-date-button:hover,
.filter-button:hover,
.book-room-button:hover {
  background-color: $accent-blue-color;
}

.filter-hotel-rooms-dropdown-user {
  align-self: center;
  display: flex;
  margin-top: 2%;
}

.filter-button {
  border: solid 2px $accent-blue-color;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2em;
  height: 100%;
}

.filter-content {
  @include flexColumn();
  position: absolute;
  z-index: 1;
}

.available-bookings-holder,
.future-bookings-holder,
.past-bookings-holder {
  @include flexColumn();
  align-items: center;
  justify-content: center;
  margin: 2% 0 2% 0;
}

.avail-hotel-info {
  display: flex;
  margin: 1.5%;
  width: 63%;
}

.avail-booking-title,
.future-booking-title,
.past-booking-title {
  font-size: 1.6em;
  margin: 0;
}

.available-room-info,
.future-room-info,
.past-room-info {
  @include flexColumn();
  font-size: 1.2em;
  justify-content: center;
}

.avail-booking-title-user,
.future-booking-title-user,
.past-booking-title-user {
  align-self: center;
  font-size: 1.4em;
  margin: 2% 0 0 0;
}

.past-holder {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 21%;
  justify-content: center;
  margin: 1%;
  width: 75%;
}

.book-room-button {
  border: $accent-blue-border;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.5em;
  height: 25%;
  margin: 11% 0 0 13%;
  width: 15%;
}

.image-holder {
  height: 95%;
  margin-right: 5%;
  width: 31%;
}

.room-image {
  height: 200px;
  margin-right: 2%;
  width: 250px;
}

.trip-date,
.room-type,
.room-number,
.confirmation-code,
.bed-size,
.num-beds {
  margin: 4% 0 4% 0;
}

.confirmation {
  font-size: 1.8em;
  margin: 0
}
